.text-center {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    background-color:#bdbbb9;    
}

.dropdown-basic-button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    
}

.dropdown-toggle {
    background-color: rgb(108, 121, 138);

    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    padding: 10px;
}

.dropdown-toggle.btn.btn-primary {
    padding: 20px;
    margin: 0px;

.btn.dropdown-toggle::before {
    margin-right: 10px;
}

