.developer {
    max-height: 6rem;
    max-width: 7rem;
    border-radius: 35px;
    float: center;
  }



  .light{
    color:black;
  }
  
  .darker {
    color: white;
  }

  .dark{
    background-color: rgb(24, 24, 24);
    color: white
  }

  #light {
    background-color: white;
    color:black
  }

  #dark {
    background-color: rgb(16, 16, 16);
    color:white
  }

  #newColor {
    color:black
  }