.developer {
    max-height: 6rem;
    max-width: 7rem;
    border-radius: 35px;
    float: center;
  }



  .light{
    background-color: white;
  }

  .dark{
    background-color: rgb(13, 17, 22);
  }

  #light {
    background-color: white;
  }

  #dark {
    background-color: black;
  }

  #newColor {
    color:black
  }