.developer {
    max-height: 6rem;
    max-width: 7rem;
    border-radius: 35px;
    float: center;
  }



  .lightish{
    background-color: white;
  }

  .darkish{
    background-color: rgb(13, 17, 22);
  }

  #newColor {
    color:black
  }