.color{
    background-color:#5d6874;
   color:#f5f3f3;
}

.nav-item{
    font-style: italic;
}
.navbar-brand{
    font-style: italic;
}
.page-container {
    position: relative;
    min-height: 100vh;
    background-color:#ffeedd;
}
