.color{
    background-color: rgb(247, 246, 242);
   color:black;
}

.nav-item{
    font-style: italic;
}
.navbar-brand{
    font-style: italic;
}
.page-container {
    position: relative;
    min-height: 100vh;
    background-color:#ffeedd;
}
