body {
  background-color: rgb(243, 232, 232);
  background-size: cover;  
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2rem;
  background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg);
  background-attachment: fixed;
  background-position: center;
  
}
.mainstyle {
  width: 100vw;
}
.container {
  width: 100vw;
}
/* 
.bodydark{
  background-color: rgb(41, 39, 39);
  background-size: cover;  
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2rem;
  background-attachment: fixed;
  background-position: center;
  color: white;
} */

code {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div,
div[data-reactroot] {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.page-container {
  position: relative;
  min-height: auto;
  margin-top: 3em;
  background-color: rgb(247, 246, 242);
}

/* .page-container-dark{
  position: relative;
  min-height: auto;
  margin-top: 3em;
  background-color: rgb(61, 61, 58);
} */

.content-wrap {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;    /* Footer height */
}

  .logbutton {
    cursor: pointer;
    border-radius: 24px;    
    font-size: 1.5em;
    padding: .5em 2em;
    border-color: transparent;
    background-color: white; 
    opacity: 30%;
  }
  
  .buttonText {
    color: rgb(231, 17, 17);
    font-weight: bold;
  }

  .logbutton:hover{
    background-color:whitesmoke;    
    font-size: 1.5em;
    opacity: 70%;
  }
