.todoList{
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    box-shadow: 0 2px 6px #555; 
    margin: 50px auto;
    padding: 50px;
    text-align: center;
  }  
    
  .input{ 
    flex: 3;
    border: none;
    outline: none;    
    margin: 0 5px;
  }
  
  form button{
    flex:1;
    background: #555;
    color: white;
    cursor: pointer;
  }
  
  
  ul li{
    list-style: none;
    border: none;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 10px;
    justify-content: space-between;
  }
  
  ul li .active{
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  ul li input,
  .row input{
    margin-right: 5px;    
  }
  
  ul li button,
  .row button{
    border: none;
    outline: none;
    color: white;
    background-color:#555;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 1em;
  }
  
  ul li button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  label{
    cursor: pointer;
  }
  
  .row #delete{
    background:crimson;
  } 

  .todoexplain{
    font-size: 1.3em;
  }