.size {
    font-size: 60px;

}

.view {
    height: 100vh;
    background-color: #bdd5ea;
}

.spacing {
    height: 25vh
}

.backgr {
    background-color: #bdd5ea;
}

.boxes {
    background-color: #f7f7ff;
<<<<<<< HEAD
    padding: 50px;
    position: relative;
    bottom: 10px;
    width: auto;
=======
    padding: 5vh;
    bottom: 0px;
    width: 100%;
>>>>>>> 99fcbeeade1c9c7783810621f011ba343313cfaf
    opacity: 1.0
}

.columns {
    float: left;
    width: 33.33%;
}

.divide {
    text-align: center;
    color: black;
    margin: auto;
    width: 100%;
    padding: 100px;
}

.gap{
    height: 35vw;
    margin: auto;
    width: 50%;
    padding: 10px;

}