.size {
    font-size: 60px;
}

.view {
    height: 100vh;
    background-color: #bdd5ea;
}

.backgr {
    background-color: #bdd5ea;
}

.boxes {
    background-color: #f7f7ff;
    padding: 50px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    opacity: 1.0
}

.divide {
    text-align: center;
    color: black;
    margin: auto;
    width: 100%;
    padding: 100px;
}

.gap{
    height: 35vw;
    margin: auto;
    width: 50%;
    padding: 10px;

}
