.cardbody {
    background-image: linear-gradient(white, rgb(26, 126, 233), rgb(26, 126, 233), rgb(26, 126, 233), white);
    color: white;
    border-radius: 20px;
    width: 50%;
    margin: auto
}

.rain {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/1146/1146858.svg?token=exp=1611764824~hmac=c7175d4a2fbbda1a3fc75c5801ee66d2');
    background-attachment: fixed;
    background-position: center
}

.mainTemp {
    font-size: large;
}

.fas {
    font-size: 50px;
}