.Footer {
    height: 0px;
    position: relative;
    left: 0;
    bottom: 50px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
