.Footer {
    height: 0px;
    position: relative;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;   
    margin-top: 0px;
    margin-bottom: 0px;
  }
/* 
  .footer-dark{
    height: 0px;
    position: relative;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;   
    margin-top: 0px;
    margin-bottom: 0px;
  } */

.footerText{
  font-size: 20px;
}
.footerText:hover{
  color: white;
}